[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-pandas-profiling = "*"
pandas-profiling = "*"
ydata-profiling = "*"
plotly = "*"
numpy = "*"
seaborn = "*"
statsmodels = "*"
scikit-learn = "*"
bardapi = "*"
openai = "*"
streamlit-chat = "*"
importlib-resources = "*"

[dev-packages]

[requires]
python_version = "3.9"
